@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes open {
    
}

html, body {
    background-color: #fff;
    background: url('../images/map-indonesia.png') center center no-repeat, url('../images/bg-kanan-atas.png') top right no-repeat, url('../images/bg-kanan-bawah.png') bottom right no-repeat, url('../images/bg-kiri-bawah.png') bottom left no-repeat, url('../images/bg-kiri-atas.png') top left no-repeat;
    background-attachment: fixed;
    color: #636b6f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    min-height: 100vh;
    margin: 0;
    position: relative;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.dashboard-title {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.dashboard-title h1 {
    font-weight: bold;
    font-size: 64px;
}
.dashboard-title h2 {
    font-size: 16px;
    display: inline-block;
    color: #fff;
    background: #2C83D2;
    padding: 4px 8px;
    border-radius: 5px;
}
.dashboard-title h3 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}
.card-dongker {
    background: #063A69;
    color: #fff;
    border: none;
}
.chart-box {
    text-align: center;
}
.chart-box canvas {
    margin: auto;
    width: 100%;
}
.login-box {
    position: absolute;
    right: -335px;
    top: 0;
    z-index: 2;
    background: #063A69;
    height: 100vh;
    padding: 20px;
    border-radius: 20px 0 0 20px;
    width: 350px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .5s;
}
.login-box.open {
    right: 0;
}
.login-box::after {
    content: '';
    display: block;
    position: fixed;
    background: #000;
}
.login-box .btn-enter {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    margin-left: -40px;
    background: #063A69;
    padding: 2px 8px;
    border-radius: 90px;
}
.logo-admin img{
    height: 100px;
    margin-right: 10px;
}
.logo-admin .title {
    font-size: 20px;
    font-weight: bold;
}
.logo-admin .subtitle {
    font-size: 10px;
    color: #fff;
    background: #2C83D2;
    padding: 2px 4px;
    border-radius: 3px;
}
.bg-primary {
    background: #063A69;
}
.card-text.small {
    font-size: 12px;
}
.logo {
    max-height: 100px;
}
.logo-smaller {
    max-height: 50px;
}
.usermenu {
    position: absolute;
    z-index: 3;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    width: auto;
}
.btn-dongker {
    background: #063A69;
    color: #fff;
    border-radius: 50px;
}
.btn-dongker:hover {
    background: #063A69;
    color: #fff;
}
.mainmenu > ul{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.btn-pills {
    border-radius: 50px;
}
.btn-warning {
    background-color: #fd7e14;
}
.bg-light-grey {
    background-color: #f2f2f2 !important;
}
.bg-tosca {
    background: rgba(0, 225, 237, 0.5);
}
@media (min-width: 1200px) {
    .modal-xl {
        --bs-modal-width: 90%;
    }
}


.font-tebal {
	font-weight:550;
}
.font-tebala {
	font-weight:700;
}
.font-hitam {
	color:#000;
}
.hd_caput {
	padding:5pt;
	background: #063A69;
    color: #fff;
	border-radius:40px;
	font-weight:500;
}
.hd_caputa {
	padding-top:25px;
	height:80px;
	width:80px;
	background: #063A69;
    color: #fff;
	border-radius:40px;
	font-weight:500;
	font-size:18pt!important;
}
.tbl_caput {
	font-size:11pt;
	border-spacing: 5px;
	border-collapse: separate;
}
.isi_caput {
	padding:5pt;
	color:#000;
	background: #c0c0c0;
	font-weight:500;
	text-align:center;
	border-radius:40px;
}
.isi_caputa {
	padding-top:4px;
	height:30px;
	width:30px;
	color:#fff;
	background: #063A69;
	font-weight:500;
	text-align:center;
	border-radius:40px;
}

